:root {
    --bs-body-font-family: 'Inter', sans-serif;
    --bs-primary: #137fec;
    --bs-primary-rgb: 19, 127, 236;
}

/* ================================
   BASE
================================ */

body {
    background-color: #f8f9fa;
    color: #212529;
    padding-bottom: 2rem;
    min-height: max(884px, 100dvh);
}

/* ================================
   CARD
================================ */

.card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* ================================
   CARD FORM CENTERED
================================ */

.card-form {
    max-width: 500px;
    margin: 0 auto;
}




/* ================================
   HEADERS
================================ */

.page-header {
    margin-bottom: 2rem;
}

    .page-header h1 {
        font-weight: 700;
    }

/* ================================
   TABLAS
================================ */

.table-container {
    background: white;
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 2rem;
    overflow: hidden;
}


.table thead {
    background-color: #f1f3f5;
}

.table td,
.table th {
    vertical-align: middle;
}

/* ================================
   BOTONES
================================ */


.btn-action {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.d-grid .btn-lg {
    font-weight: 600;
    border-radius: 0.8rem;
}

/* ================================
   FORMULARIOS
================================ */

.form-control {
    border-radius: 0.6rem;
}

.form-label {
    font-weight: 600;
}

.material-symbols-outlined {
    font-size: 18px;
    line-height: 1;
}
